.search-logo{
    object-fit: contain;
    height: 3rem;
    padding-left: 2rem;
}

.searchPage-header{
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    align-items: flex-start;
    padding: 2rem 2rem 0.2rem 0;
    z-index: 100;
    border-bottom: 1px solid lightgray;
}

.searchPage-headerBody > .search > .search-input {
    margin-top: 0;
    width: unset;
    margin: 0;
}

.searchPage_tab a {
    text-decoration: none;
    color: grey;
    font-size: 15px;
    padding-bottom: 10px;
}
.searchPage_tab{
    display: flex;
    width: auto;
}

.searchPage_optionsLeft{
    color: grey; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchPage_options{
    padding-right: 5rem;
}